# .clang-format
Language: C
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpaceBeforeSquareBrackets: false
SpaceAfterSquareBrackets: false
SpacesBeforeTrailingComments: 1
CommentPragmas: Keep
AlignTrailingComments: true
